<% @books.each do |book| %>
  <%= link_to root_path, method: :get do %>
    <div>
    題名　　：<%= book.novel_title %><br>
    ジャンル：<%= book.genre.name %><br>
    あらすじ：<%= book.synopsis %><br>
    ------------------------------
    </div>
  <% end %>
<% end %>
